* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgba(204, 201, 198, 0.808);
}

.card {
    position: relative;
    width: 400px;
    height: 450px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #242222;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgba(238, 199, 147, 0.747);
    padding: 15px;
    color: #242222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #242222;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}

.card .back .link a {
    color: #242222;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

header {
    background: transparent;
    width: 100%;
    clear: both;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
}

nav ul li a {
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    color: #1c1c1c;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgba(218, 113, 16, 0.808);
}

#logo-nav {
    width: 200px;
    padding: 1.5rem;
}

.pie-de-pagina {
    display: flex;
    background: rgba(0, 0, 0, .5);
    padding: 10px;

}

.pie-de-pagina li {
    list-style: none;
    display: inline-flex;
    margin-left: 10px;
}

.pie-de-pagina p.derechos {
    margin-left: auto;
    color: #1c1c1c;
    font-size: small;
    font-weight: bold;
}

.pie-de-pagina a {
    text-decoration: none;
    color: #1c1c1c;
    font-weight: bold;
}

.pie-de-pagina a:hover {
    color: rgba(218, 113, 16, 0.808);
}