* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./img/toyota-hilux.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
}

header {
    background: transparent;
    width: 100%;
    clear: both;
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, .5)
}

nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
}

nav ul li a {
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    color: #1c1c1c;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;

}

nav ul li a:hover {
    color: rgba(218, 113, 16, 0.808);
}


#logo-nav {
    width: 200px;
    padding: 1.5rem;


}

.contenedor {
    padding-bottom: 150px;
    margin-top: 150px;
    padding-left: 650px;
}

#form .form-header .form-title {
    font-weight: normal;
    font-family: sans-serif;
    color: #4460AA;
    text-align: center;
    padding: 14px 0;
}

#form .form-header .form-title span {
    color: #991212;
}

#form {
    background: rgba(0, 0, 0, .6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 4px;
}

#form .form-label {
    display: block;
    color: #ff851b;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#form .form-input,
#form .form-textarea {
    background: rgba(0, 0, 0, .7);
    border: none;
    outline: none;
    border-bottom: 2px solid #ff851b;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

#form .form-textarea {
    resize: vertical;
    max-height: 150px;
    min-height: 50px;
}

#button {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    background: #ff851b;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

#button:hover {
    background: #f29718;
}

.field {
    margin-bottom: 10px;
}

.field label {
    display: block;
    font-size: 12px;
    color: #777;
}

.field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
}

input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none;
}

@media screen and (max-width: 768px) {
    body {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.navbar-footer {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-footer a {
    display: flex font-size: small;
    text-decoration: none;
    font-weight: bold;
}

.navbar-footer li {
    list-style: none;
    color: #1f1f1f;
}

.navbar-footer li a:hover {
    color: rgba(218, 113, 16, 0.808);
}

.navbar-footer .footer li {
    display: block;

}